<div class="level2">
  <h1>Level 2</h1>
  <div class="level2__control">
    <button
      mat-flat-button
      color="accent"
      type="button"
      (click)="previousAmount()"
    >
      Montant précédent
    </button>
    <mat-form-field appearance="fill" class="level2__control__input">
      <mat-label>Montant désiré</mat-label>
      <input
        matInput
        placeholder="60"
        type="number"
        [formControl]="amountControl"
      />
    </mat-form-field>
    <button mat-flat-button color="accent" type="button" (click)="nextAmount()">
      Montant suivant
    </button>

    <button
      mat-flat-button
      color="primary"
      type="button"
      [disabled]="!amountControl.valid"
      (click)="validate()"
      class="level2__control__validate"
    >
      VALIDER
    </button>
  </div>
  <div
    *ngIf="otherSolutions$ | async as otherSolutions"
    class="level2__other-solutions"
  >
    Other choices:
    <div class="level2__other-solutions__choices">
      <button
        mat-flat-button
        color="accent"
        type="button"
        *ngIf="otherSolutions.floor as solution"
        (click)="chooseSolution(solution)"
      >
        {{ solution.value }} €
      </button>

      <button
        mat-flat-button
        color="accent"
        type="button"
        *ngIf="otherSolutions.ceil as solution"
        (click)="chooseSolution(solution)"
      >
        {{ solution.value }} €
      </button>
    </div>
  </div>
  <div *ngIf="foundSolution$ | async as solution" class="level2__solution">
    Votre montant est composé des cartes suivantes:
    <ul>
      <li *ngFor="let card of solution.cards">{{ card }} €</li>
    </ul>
  </div>
</div>
